body {
  font: 15px/1.5 Arial, Helvetica, red-serif;
  padding: 0;
  margin: 0;
  background-color: white;
}

.container{
  background-color: white;
  width: 90%;
  margin: auto;
  overflow: hidden;

}

h4{

    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}


.dark{
  padding: 15px;
  background: #35424a;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
}

ul{
  margin: 0;
  padding: 0;
}
.box:hover {
    -ms-transform: scale(1.1);

    transform: scale(1.1);
}
/*Top button*/
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color:white;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}
#myInput {
  margin-top: 10px;
 position:relative;
left:40%;
top:25%;
width:20%;
}
#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  position:relative;
left:40%;
top:25%;
width:20%;
border: 1px orange;
margin-top: -1px; /* Prevent double borders */
background-color: #f6f6f6;
padding: 10px;
text-decoration: none;
font-size: 12px;
color: black;
display: block
}

#myUL li a:hover:not(.header) {
  background-color: #eee;
}

/* Header */

header{
  background: white;
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #32a0c2 3px ;
}

header a{
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header li{
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}

header #branding {
  float: left;
}

header #branding h1{
  margin: 0;
}

header nav{
  float: right;
  margin-top: 10px;
}

header .highlight, header .current a {
  color: black;

}

header a:hover{
  color: orange;
}
/*TOP*/

/* Showcase */

#landing {
  min-height: 200px;
  /*background:url('../image/headerbg.jpg') no-repeat center;*/
  background-size: cover;
  text-align: center;
  background-color: white;
}


#landing h1{
  margin-top: 50px;
  font-size: 45px;
  margin-bottom: 10px;
  color: #FF4500;

}

/*label

.label-primary{background-color:#337ab7}
.label-primary[href]:focus,
.label-primary[href]:hover{background-color:#286090}
.label-success{background-color:#5cb85c}
.label-success[href]:focus,
.label-success[href]:hover{background-color:#449d44}
*/
#boxes{
  margin-top: 20px;
}

#boxes .box{
  max-height: 150%;
  margin-left: 2.5%;
  float:left;
  text-align: center;
  width: 30%;
  padding: 10px;
}
footer{
  padding: 20px;
  margin-top: 20px;
  color: black;
  background-color: white;
  text-align: center;
}
/*category*/
#category{
  text-align: center;
}

/* Sidebar */
aside#sidebar {
  float: right;
  width: 30%;
  padding: 5px;
}

article#main-col{
  float: left;
  width: 65%;
}

aside#sidebar input, aside#sidebar textarea {
  width: 90%;
  padding: 5px;
}

/* Services */
ul#services li{
  list-style: none;
  padding: 20px;
  border: #cccccc solid 1px;
  margin-bottom: 5px;
  background: #32a0c2;
}

ul#services h3{
  border-bottom: #353637 solid 1px;
}

@media(max-width: 768px){
  header #branding,
  header nav,
  header nav li,
  #boxes .box,
  article#main-col,
  aside#sidebar {
    float: none;
    text-align: center;
    width: 100%;
  }

  header {
    padding-bottom: 20px;
  }

  #landing h1 {
    margin-top: 40px;
  }

}


}
